{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Kids Education Website</title>
	<link rel="stylesheet" href="{% static 'style2.css' %}">

</head>
<body>
	<header>
		<h1>Kids Education Website</h1>
		<nav>
			<ul>
				{% if request.user.is_authenticated %}
	 <li>Hello, {{request.user.username}} | <a href="{% url 'logout' %}">Logout</a></li>
	 <li><a href="{% url 'account' %}">Account</a></li>
	 {% else %}
	 <li><a href="{% url 'register' %}">Register</a> | <a href="{% url 'login' %}">Login</a></li>
	 {% endif %}
			
				<li><a href="{% url 'cours' %}">Courses</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="hero">
			<h2>Welcome to Kids Education!</h2>
			<p>We offer a variety of courses designed to make learning fun for kids of all ages. </p>
			<a href="{% url 'cours' %}" class="cta">View Courses</a>
		</section>

		<section class="features">
			<ul>
				<li style='background-color: blue;'>
					<img style='width:300px; height: 200px;' src="{% static 'fun.jpg' %}" alt="Fun and Interactive">
					<h3>Fun and Interactive</h3>
					<p>Our courses are designed to be engaging and interactive, making learning a fun experience for kids.</p>
				</li>
				<li style='background-color: red;'>
					<img style='width:300px; height: 200px;' src="{% static 'teach.png' %}" alt="Qualified Teachers">
					<h3>Qualified Teachers</h3>
					<p>All of our teachers are highly qualified and experienced in teaching kids.</p>
				</li>
				<li style='background-color: orange;'>
					<img style='width:300px; height: 200px;' src="{% static 'flx.jpg' %}" alt="Flexible Learning">
					<h3>Flexible Learning</h3>
					<p>We offer courses at a variety of times and days to fit your child's schedule.</p>
				</li>
			</ul>
		</section>
	</main>

	<footer>
		<p>&copy; 2023 Kids Education</p>
	</footer>
</body>
</html>