* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
}

header {
	background-color: rgb(53, 42, 211);
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

nav {
	display: flex;
	list-style: none;
}

nav {
	margin-right: 50px;
}

nav {
	margin-right: 0;
}

nav a {
	color: #fff;
	text-decoration: none;
}

.hero {
	background-image: url('kids1.jpg');
	background-size: cover;
	background-position: center;
	color: #fff;
	text-align: center;
	padding: 100px 20px;
}



.cta {
	display: inline-block;
	background-color: #fff;
	color: #008CBA;
	padding: 10px 20px;
	margin-top: 20px;
	border-radius: 5px;
	text-decoration: none;
}


/* Add this CSS to your style2.css file */

.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  }
  
  .feature {
	text-align: center;
	margin: 20px;
  }
  
  .feature img {
	width: 300px;
	height: 200px;
  }
  
  .feature h3 {
	margin-top: 10px;
  }
  
  .feature p {
	margin-bottom: 20px;
  }
  