<style type="text/css">
	.card{
		max-width: 700px;
		width: 100%;
	}
	.card-body{
		padding: 20px;
	}
</style>
{% if cour_s %}
<div class="container">
	<div class="row">

		<!-- Blog Post -->
		<div class="card m-auto">
			<a href="{% url 'cours:detail' post.slug %}">
				<img class="card-img-top" src="{{cour_s.image.url}}">
			</a>
			
			<div class="card-body mt-2 mb-2">
				<a href="{% url 'cours:detail' post.slug %}">
					<h2 class="card-title">{{cour_s.title}}</h2>
				</a>
				<p class="card-text">{{cour_s.body|safe|truncatechars:180}}</p>
				
			</div>
			<div class="card-footer text-muted">
			  Updated on {{cour_s.date_updated}} by {{cour_s.author}}
			</div>
		</div>
	</div>
</div>
{% else %}

<div class="container">
	<div class="row">
		<div class="card m-auto">
			<div class="card-body mt-2 mb-2">
				<h2 class="card-title">No results</h2>
				<p class="card-text">There were no results matching the search: "{{query}}"</p>
			</div>
		</div>
	</div>
</div>

{% endif %}